<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="version">
    <select id="queryUpToDateVersion" resultType="version">
        SELECT * FROM version WHERE isValid=1 AND isUpToDate=1
    </select>
</mapper>