<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="serverMenu">
	<!--查询服务频道的菜单-->
	<select id="queryServerMenu" resultType="serverMenu" >
		SELECT * FROM serverMenu WHERE isValid=1 AND serverChannelID=#{serverChannelID}
	</select>
	<!--根据父id查询服务频道的菜单-->
	<select id="queryServerMenuByParentID" resultType="serverMenu" >
		SELECT * FROM serverMenu WHERE isValid=1 AND parentID=#{parentID}
	</select>
</mapper>