<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="serverChannelMessage">
	<!--分页查询服务频道-->
	<select id="pageQueryServerChannelMessage" resultType="serverChannelMessage">
		SELECT * FROM serverChannelMessage WHERE isValid=1 AND serverChannelID=#{serverChannelID} order BY createTime DESC limit #{firstCount},#{pagesize}
	</select>
	<!--查询服务频道总数-->
	<select id="pageQueryServerChannelMessageCount" resultType="java.lang.Integer">
		SELECT count(1) FROM serverChannelMessage WHERE isValid=1
	</select>
</mapper>